<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>GRAND REPORT</title>
    <link rel="icon" href="../resources/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../resources/templates/css/style.css">
</head>
<body>
    <main>
        <div class="caption">
            <h1>{{ title }}</h1>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <h3>Get In Touch</h3>
        <p>Telegram: <a href="https://t.me/T_makast" id="link" target="_blank"><strong>@T_makast</strong></a></p>
    </footer>
</body>
